.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.App__sidebar-wrapper {
  width: 20%;
  height: 100%;
}

.App__list-wrapper {
  width: 80%;
  height: 100%;

  background: #7a7574;
}
